:root {
  --primary-bg: #088bcb;
  --primary-color: #fff;
  --secondary-bg: #e32227;
  --secondary-color: #fff;
  --dark-bg: #1b1b1b;
  --dark-color: #fff;
  --light-bg: #fff;
  --light-color: #1b1b1b;
  --gray-color: #a2a2a2;
  --main-bg: #f4f4f4;
}

@font-face {
	font-family: "Roboto Condensed";
  src: local('Roboto Condensed'), url(./fonts/RobotoCondensed-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
	font-family: "Roboto Condensed";
  src: local('Roboto Condensed'), url(./fonts/RobotoCondensed-Regular.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
	font-family: "Roboto Condensed";
  src: local('Roboto Condensed'), url(./fonts/RobotoCondensed-Bold.ttf) format('truetype');
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif; /* font-family: 'Roboto Condensed', sans-serif; */
}
.cursor {
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
.sidebar .nav-link {
  font-weight: 500;
  color: var(--light-color);
}
.sidebar .nav-link.active {
  color: var(--primary-bg);
}
.sidebar .nav-link:hover .bi, .sidebar .nav-link.active .bi {
  color: var(--primary-bg);
}
.sidebar .nav-link .bi {
  margin-right: 0.5em;
}


/*BRIEF*/
.form-view .header-head-subtitle {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  margin-top: 10px;
}
.form-view .form-header select {
  padding-right: 11px;
  font-size: .9em;
  padding: .5em;
  border-color: var(--secondary-bg);
  color: var(--secondary-bg);
  outline: none;
  background-color: transparent;
  margin-left: 5px;
  min-width: 200px;
  width: auto;
}
.brief-main {
  background-color: var(--main-bg);
  min-height: 600px;
}
.container-brief {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.form-view .form-actions {
  background-color: var(--main-bg);
}
.form-view .brief-footer a {
  color: var(--primary-bg);
}
/**/
.container-brief .section-label {
  margin-bottom: .8em;
  font-weight: 500;
  font-size: .9em;
  cursor: default;
}
.container-brief .section-label small {
  font-weight: 400;
  color: var(--gray-color);
}
/**/
.form-view input[type="text"], .form-view textarea, .container-brief input[type=file] {
  position: relative;
  padding: .75em;
  background-color: transparent;
  border: 1px solid var(--dark-bg);
  outline: none;
  font-family: inherit;
  width: 100%;
  padding-right: 2.5em;
}
.form-view input:focus, .form-view textarea:focus, .form-view select {
  border-color: var(--primary-bg);
}
.form-view .form-check-input:checked {
  background-color: var(--primary-bg);
  border-color: var(--primary-bg);
}
.form-view .section-checkbox-list {
  max-height: 220px;
  overflow-y: auto;
}
.form-view select, .container-brief .multiple-item select {
  position: relative;
  padding: .75em;
  background-color: transparent;
  border: 1px solid var(--dark-bg);
  outline: none;
  font-family: inherit;
  width: 100%;
  padding-right: 2.5em;
}
.container-brief input[type="color"] {
  width: 100%;
  height: 49px;
  border: none;
}
.container-brief input[type=file] {
  cursor: pointer;
  margin-top: 5px;
  padding-right: 0;
}
.container-brief input[type="file"]::before {
  content: "Dosya Seç";
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding-right: .75em;
}
/**/
.container-brief .multiple-item {
  width: 100%;
  max-width: calc(20% - .4em);
  margin: 0 .4em .4em 0;
  position: relative;
}
.container-brief .multi-image .multiple-item {
  max-width: calc(25% - .4em);
  min-height: 60px;
}
.container-brief .multiple-item img {
  position: relative;
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all .2s;
  transform: scale(1);
  z-index: 0;
}
.container-brief .multiple-item img:hover {
  transform: scale(1.05);
  z-index: 1;
}
.container-brief .multiple-item .btn {
  position: absolute;
  right: 0;
  top: 1px;
  padding: 0 3px;
  display: none;
  z-index: 4;
}
.container-brief .multiple-item:hover .btn {
  display: block;
}

/**/
.form-view .section-type-checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
.form-view .section-type-checkbox .section-label {
  margin-bottom: 0;
}


/*CLIENT*/
.container-client {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.client-edit-page .material-item:hover .delete-icon {
  visibility: visible !important;
  right: 0;
  top: 20px;
}
.client-edit-page .client-group:hover .client-group-control .delete-icon {
  visibility: visible !important;
}
.client-edit-page .section-name-fixed {
  top: 0;
  left: 0;
  font-size: 0.7em;
  opacity: 0.5;
  padding: 1px 3px;
}
.client-edit-page .material-item input {
  color: inherit;
}

/**/
.client-view {
  font-family: 'Roboto Condensed', sans-serif;
}
.client-view .client-layout {
  padding: 80px 0;
}
.client-view .client-layout .layout-head h2 {
  font-size: 3.5em;
  font-weight: normal;
  line-height: 0.9;
}
.client-view .nav.nav-one {
  justify-content: flex-start !important;
  padding-left: 35px;
}
.client-view .nav.nav-one .nav-link {
  text-decoration: none !important;
}
.client-view .nav.nav-one .nav-link::after {
  display: none;
}
.client-view .nav-item .nav-link {
  font-weight: bold;
  opacity: 0.8;
  position: relative;
  padding: 10px 15px;
}
.client-view .nav-item .nav-link.active,
.client-view .nav-item .nav-link.disabled {
  text-decoration: underline;
  opacity: 1;
}
.client-view .nav-item .nav-link.active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.client-view .nav-link-color {
  cursor: pointer;
  width: 27px;
  height: 27px;
  border-radius: 40%;
  background-color: red;
  margin-left: 5px;
  margin-top: 7px;
  opacity: 1 !important;
}
.client-view .border-radius {
  border-radius: 10px;
}
.client-view .material-item {
  border-bottom: 1px solid rgb(211 226 234 / 20%);
}
.client-view .material-item:last-child {
  border-bottom: none;
}
.client-view .btn-download {
  color: var(--primary-bg);
  background-color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  white-space: pre;
}
.client-view .btn-download:hover {
  background-color: var(--secondary-bg) !important;
  color: inherit !important;
}
.client-view .block-bottom-btns {
  margin-bottom: -20px;
  min-height: 30px;
}

/**/
.file-icon-box {
  min-width: 32px;
  width: 32px;
  height: 32px;
  display: flex;
}
.file-icon-box img {
  object-fit: cover;
}

/*LOGIN*/
.login-page, .signup-page {
  min-height: 100vh;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.login-page input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login-page input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}