:root {
  --primary-bg: #088bcb;
  --primary-color: #fff;
  --secondary-bg: #e32227;
  --secondary-color: #fff;
  --dark-bg: #1b1b1b;
  --dark-color: #fff;
  --light-bg: #fff;
  --light-color: #1b1b1b;
  --gray-color: #a2a2a2;
  --main-bg: #f4f4f4;
  --black: #18113c;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif; /* font-family: 'Roboto Condensed', sans-serif; */
}

/*SIDEBAR*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}
@media (max-width: 768px) {
  .sidebar {
    max-width: 300px;
  }
}
.sidebar .nav-link {
  font-weight: 500;
  color: var(--light-color);
}
.sidebar .nav-link.active {
  color: var(--primary-bg);
}
.sidebar .nav-link:hover .bi, .sidebar .nav-link.active .bi {
  color: var(--primary-bg);
}
.sidebar .nav-link .bi {
  margin-right: 0.5em;
}

.empty-items-message {
  opacity: 0.5;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*BRIEF*/
.form-view .header-head-subtitle {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  margin-top: 10px;
}
.form-view .form-header {
  background-color: var(--main-bg);
}
.form-view .form-header select {
  padding-right: 11px;
  font-size: .9em;
  padding: .5em;
  border-color: var(--secondary-bg);
  color: var(--secondary-bg);
  outline: none;
  background-color: transparent;
  margin-left: 5px;
  min-width: 200px;
  width: auto;
}
.brief-main {
  background-color: var(--main-bg);
  min-height: 600px;
}
.container-brief {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
.form-view .form-actions {
  background-color: var(--main-bg);
}
.form-view .brief-footer a {
  color: var(--primary-bg);
}
/**/
.container-brief .answer-label {
  margin-bottom: .8em;
  font-weight: 500;
  font-size: .9em;
  cursor: default;
}
.container-brief .answer-label small {
  font-weight: 400;
  color: var(--gray-color);
}
/**/
.form-view input[type="text"], .form-view textarea, .container-brief input[type=file] {
  position: relative;
  padding: .75em;
  background-color: transparent;
  border: 1px solid var(--dark-bg);
  outline: none;
  font-family: inherit;
  width: 100%;
  padding-right: 2.5em;
}
.form-view input:focus, .form-view textarea:focus, .form-view select {
  border-color: var(--primary-bg);
}
.form-view .form-check-input:checked {
  background-color: var(--primary-bg);
  border-color: var(--primary-bg);
}
.form-view .answer-checkbox-list {
  max-height: 220px;
  overflow-y: auto;
}
.form-view select, .container-brief .multiple-item select {
  position: relative;
  padding: .75em;
  background-color: transparent;
  border: 1px solid var(--dark-bg);
  outline: none;
  font-family: inherit;
  width: 100%;
  padding-right: 2.5em;
}
.container-brief input[type="color"] {
  width: 100%;
  height: 49px;
  border: none;
}
.container-brief input[type=file] {
  cursor: pointer;
  margin-top: 5px;
  padding-right: 0;
}
.container-brief input[type="file"]::before {
  content: "Dosya Seç";
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding-right: .75em;
}
/**/
.container-brief .multiple-item {
  width: 100%;
  max-width: calc(20% - .4em);
  margin: 0 .4em .4em 0;
  position: relative;
}
.container-brief .multi-image .multiple-item {
  max-width: calc(25% - .4em);
  min-height: 60px;
}
.container-brief .multiple-item img {
  position: relative;
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all .2s;
  transform: scale(1);
  z-index: 0;
}
.container-brief .multiple-item img:hover {
  transform: scale(1.05);
  z-index: 1;
}
.container-brief .multiple-item .btns-control {
  position: absolute;
  right: 0;
  top: -1px;
  display: none;
  z-index: 4;
}
.container-brief .multiple-item:hover .btns-control {
  display: block;
}
.container-brief .multiple-item .btns-control .btn {
  padding: 0 3px;
  margin-left: 3px;
}
.container-brief .multiple-item .btns-control .move-handle {
  cursor: move;
}
/**/
.form-view .answer-type-checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
.form-view .answer-type-checkbox .answer-label {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .container-brief .multi-image .multiple-item {
    max-width: calc(50% - .4em);
  }
}

/*STORAGE*/
.container-storage {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.storage-edit-page .material-item:hover .delete-icon {
  visibility: visible !important;
  right: 0;
  top: 5px;
}
.storage-edit-page .storage-group:hover .storage-group-control .delete-icon {
  visibility: visible !important;
}
.storage-edit-page .section-name-fixed {
  top: 0;
  left: 0;
  font-size: 0.7em;
  opacity: 0.5;
  padding: 1px 3px;
}
.storage-edit-page .material-item input {
  color: inherit;
}

/**/
.storage-view {
  font-family: 'Roboto Condensed', sans-serif;
}
.storage-view .storage-layout {
  padding: 80px 10px;
}
.storage-view .storage-layout .layout-head h2 {
  font-size: 3.5em;
  font-weight: normal;
  line-height: 0.9;
}
.storage-view .nav.nav-one {
  justify-content: flex-start !important;
  padding-left: 35px;
}
.storage-view .nav.nav-one .nav-link {
  text-decoration: none !important;
}
.storage-view .nav.nav-one .nav-link::after {
  display: none;
}
.storage-view .nav-item .nav-link {
  font-weight: bold;
  opacity: 0.8;
  position: relative;
  padding: 10px 5px;
}
.storage-view .nav-item .nav-link.active,
.storage-view .nav-item .nav-link.disabled {
  text-decoration: underline;
  opacity: 1;
}
.storage-view .nav-item .nav-link.active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.storage-view .nav-link-color {
  cursor: pointer;
  width: 27px;
  height: 27px;
  border-radius: 40%;
  background-color: red;
  margin-left: 5px;
  margin-top: 7px;
  opacity: 1 !important;
}
.storage-view .border-radius {
  border-radius: 10px;
}
.storage-view .material-item {
  position: relative;
  border-bottom: 1px solid rgb(211 226 234 / 20%);
}
.storage-view .material-item:last-child {
  border-bottom: none;
}
.storage-view img.img-preview {
  max-width: 200px;
  position: absolute;
  display: none;
  top: calc(100% - 10px);
  left: 40px;
  background-color: #fff;
  z-index: 1;
  padding: 5px;
}
.storage-view span:hover ~ img.img-preview {
  display: block;
}
.storage-view .btn-download {
  color: var(--primary-bg);
  background-color: #fff;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  white-space: pre;
}
.storage-view .btn-download:hover {
  background-color: var(--secondary-bg) !important;
  color: inherit !important;
}
.storage-view .block-bottom-btns {
  margin-bottom: -20px;
  min-height: 30px;
}
/**/
.file-icon-box {
  min-width: 32px;
  width: 32px;
  height: 32px;
  display: flex;
}
.file-icon-box img {
  object-fit: cover;
}
@media (max-width: 992px) {
  
}

/*LOGIN*/
.signin-page, .signup-page {
  min-height: 100vh;
  background-image: linear-gradient( 0deg , var(--primary-bg), var(--secondary-bg));
  padding: 30px 10px;
}
.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 50px 30px 30px 30px;
  margin: auto;
  text-align: center;
  background-color: var(--light-bg);
  border-radius: 5px;
}

/**/
.user-dashboard header.navbar {
  min-height: 70px;
}
.user-dashboard header.navbar a {
  color: var(--black);
  font-size: .875rem;
  font-weight: 500;
  padding: .3125rem .5rem;
}
.user-dashboard header.navbar a:hover {
  color: var(--primary-bg);
}
.user-dashboard header.navbar a::after {
  color: #79758f;
  margin-left: .5em;
  margin-right: .5em;
}
.user-dashboard header.navbar a:hover::after {
  color: #79758f;
}
.user-dashboard .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.user-dashboard .navbar-toggler:not(.collapsed) i:first-child {
  display: none;
}
.user-dashboard .navbar-toggler.collapsed i:last-child {
  display: none;
}
.user-dashboard .list-group-item.active,
.user-dashboard .dropdown-item.active,
.user-dashboard .dropdown-item:active {
  background-color: #f8f9fa;
}
.user-dashboard header.navbar .list-group {
  max-width: 550px;
}
.user-dashboard .user-box {
  line-height: 1.2;
}
.user-dashboard .user-box a::after {
  display: none;
}

.user-dashboard .user-inventories .tab-item{
  border-radius: 20px;
  max-width: 375px;
  flex: 1;
}
.user-dashboard .user-inventories .tab-item p {
  line-height: 1.2;
}
.user-dashboard .user-inventories .tab-item.active .btn {
  box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}
@media (max-width: 992px) {
  .user-dashboard header.navbar .navbar-collapse {
    overflow: hidden;
  }
  .user-dashboard header.navbar .navbar-collapse .list-group {
    max-width: none;
  }
  .user-dashboard .user-inventories .container {
    max-width: 800%;
  }
  .user-dashboard .header-logo {
    height: 36px;
  }
  .user-dashboard .user-inventories .tab-item {
    max-width: none;
    width: 100%;
    zoom: 0.8;
    border-radius: 0;
  }
}


/*UTILS*/
.loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cursor {
  cursor: pointer;
}

@media (min-width: 992px) {
  /**/
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }  
  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all .2s ease-in;
  }
}